/****** Main Styling ******/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #ECF0F1;
  background-color: #607d8b;
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #7cf0ff;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
  padding: 10px;
  margin-top: 15px;
  background-color: #337ab7;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid grey;
}
.view {
  position: relative;
  margin: auto;
  margin-top: 39px;
  border: 1px solid grey;
  border-radius: 14px;
  background-color: #8bc34a;
  padding: 20px;
  width: 50%;
  min-width: 398px;
}
